/*Reset Css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
}

/*Generics*/

a {
    text-decoration: none;

}

li {
    list-style-type: none;
}

h1 {
    font-size: 50px;
}

ul {
    display: flex;
    gap: 30px;
}

/*Utils*/

.bgcol-green {
    background-color: green;
}

.bgcol-red {
    background-color: red;
}

.h-xxl {
    height: 100vh;
}

.bgcol-yellow {
    background-color: yellow;
}

.col-yellow {
    color: yellow;
}

.col-green {
    color: green;
}

/*Main*/

.shoes {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

/*side-menu*/

.side-menu {
    position: fixed;
    right: 10px;
    top: 30px;
}

.side-menu a {
    display: inline-block;
    color: black;
    background-color: white;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
}